.main {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.main .bg {
  width: 100%;
  height: 200px;
  background: url(/images/personal-gb.jpg?4792cedfcbfb22295d9f830e8a9d446d);
  background-size: cover;
}
.main .personal_content {
  position: relative;
  padding-top: 1px;
  width: 100%;
  height: 284px;
  background: #fff;
}
.main .logo {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  background: #fff;
  transform: translate(20px, -50%);
  border-radius: 50%;
}
.main .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main .list {
  margin-top: 80px;
}
.main .list li {
  font-size: 18px;
  margin: 0 5px;
}
